.cartIcon {
	width : 29px;
	height : 26px;
	background : url(/nGuard/common/img/icon_cart.png) no-repeat center / cover;
}




.fc_fieldBlue {
	color : #54a4bf;
}
.fc_white {
	color : #fff;
}



 
.fs14 {
	font-size : 14px;
}
.fs26 {
	font-size : 26px;
}
.fs30 {
	font-size : 30px;
}





.fBold {
	font-weight : 800;
}
.fBoldEX {
	font-weight : 1000;
}




.mb10 {
	margin-bottom : 10px;
}
.mb13 {
	margin-bottom : 13px;
}
.mb19 {
	margin-bottom : 19px;
}
.mb24 {
	margin-bottom : 24px;
}





.lh40 {
	line-height : 40px;
}

